<nav class="my-4" aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Accueil</li>
            </ol>
</nav>
            <div class="container d-flex justify-content-center align-items-center content-height ">
                    <div class="card" style="width:50%;">
                        <div class="card-body text-justify">
                            Mosaïque qui met en évidence les évènements corporate (Sécurité, présentation, formation, repas d'équipe ou de Noël...) et non corporate (Divertissements, sports...) de l'agence de Strasbourg.
                        </div>
                    </div>
                </div>